footer
	.contacts
		p Developed by: Briws. 2019
	//- .projector
	//- 	p
	//- 		a(href="https://brightwiths.github.io/projectorgoa/") Also projector for rent:
	//- 	p
	//- 		a(href="https://brightwiths.github.io/projectorgoa/")
	//- 			img(src="img/projector.jpg" alt="")
	script(src="jquery-3.4.1.min.js")
	script(src="owlcarousel/owl.carousel.min.js")
	script(src="script.js")
