mixin header(link)
	header
		.main-header
			p
				a(href="indexru.html") Гоа экскурсии
			p Для заказа пишите в Телеграм:
			.img-container
				a(href="tg://resolve?domain=brightwiths")
					img(src="img/social-telegram-color.png" alt="")
				span @brightwiths
		.language-selector
			p Choose language:
			p
				a(href=link) english
			p.selected russian
