mixin header(link)
	header
		.main-header
			p
				a(href="index.html") Goa excursions
			p For order write in Telegram:
			.img-container
				a(href="tg://resolve?domain=brightwiths")
					img(src="img/social-telegram-color.png" alt="")
				span @brightwiths
		.language-selector
			p Choose language:
			p.selected english
			p
				a(href=link) russian
