$color: green
$p-fontsize: 25px

*
	font-family: 'Comfortaa', cursive
	padding: 0
	margin: 0
	box-sizing: border-box

body
	width: 100%
	.grid-container
		display: grid
		grid-template-areas: "header" "main" "footer"
		grid-template-columns: 100%
		grid-template-rows: auto 1fr auto

%p-template
	padding-top: 25px
	text-align: center
	color: white
	font-size: 50px

a
	text-decoration: none
	color: black
	&:visited
		color: black

header
	grid-area: header
	background: $color
	position: sticky
	top: 0
	display: grid
	grid-template-areas: "center right"
	grid-template-columns: 1fr 300px
	grid-template-rows: auto
	z-index: 2
	width: 100%
	.main-header
		grid-area: center
		justify-self: center
		p
			@extend %p-template
			a
				color: white
				&:visited
				color: white
		p+p
			font-size: 35px
		.img-container
			display: flex
			justify-content: center
			img
				height: 50px
				width: auto
				margin-left: 15px
	.language-selector
		grid-area: right
		justify-self: center
		width: 250px
		font-size: 25px
		line-height: 1.5em
		p
			text-align: center
			color: white
			&:nth-of-type(2),
			&:nth-of-type(3)
				border: 1px solid white
				border-radius: 25px
				padding: 5px
				&.selected
					color: black
					background: white
main
	grid-area: main
	border-left: 5px solid $color
	border-right: 5px solid $color
	width: 100%
	display: flex
	flex-direction: column
	margin: 0 auto
	margin-bottom: 20px
	.main-grid
		display: grid
		margin: 0 auto
		grid-template-columns: repeat(4,auto)
		grid-template-rows: repeat(3,750px)
		grid-gap: 5px
		.ex-container
			border: 2px solid $color
			display: flex
			flex-direction: column
			.top-container
				height: 150px
				p
					font-size: 25px
					font-weight: bold
					margin: 30px 0 0 0
					text-align: center
			.img-container
					margin-bottom: 30px
					display: flex
					justify-content: center
			.middle-container
				height: 170px
				padding: 0 5px 0 5px
				display: flex
				justify-content: center
				font-size: 25px
				ul
					list-style-position: inside
			.bottom-container
				margin-top: 5px
				display: flex
				flex-direction: column
				.price-container
					text-align: center
					font-size: 25px
				.button-container
						display: flex
						justify-content: center
						align-items: center
						height: 40px
						width: 200px
						border: 1px solid $color
						margin: 0 auto
						background: $color
						border-radius: 50px
						a
							color: white
							font-size: 25px
	.ex-description
		max-width: 100%
		.ex-description-top
			h1
				margin: 10px 0
				text-align: center
		.owl-carousel
			img
				height: auto
				width: auto
		p
			font-size: 25px
			padding-top: 20px
			text-align: left
	section.specials
		h1
			margin-top: 20px
		h1,p
			font-size: 32px
			text-align: center
			color: $color
	section.price
		.bitcoin
			margin-top: 10px
			span
				color: #BD8913
				font-size: 25px
			.bitcontainer
				display: flex
				justify-content: center
				align-items: center
				flex-direction: column
				img
					margin: 10px
					max-height: 200px
footer
	grid-area: footer
	background: $color
	display: flex
	justify-content: center
	.contacts
		margin-bottom: 20px
		p
			@extend %p-template
			font-size: 20px
	// .projector
	// 	grid-area: right
	// 	font-size: 20px
	// 	p
	// 		a
	// 			color: white
	// 			&.visited
	// 				color: white
	// 			img
	// 				width: 100%
@import  'media'


