footer
	.contacts
		p Разработал: Брайвс. 2019
	//- .projector
	//- 	p
	//- 		a(href="https://brightwiths.github.io/projectorgoa/indexrus.html") Cдаём проектор в аренду:
	//- 	p
	//- 		a(href="https://brightwiths.github.io/projectorgoa/indexrus.html")
	//- 			img(src="img/projector.jpg" alt="")
	script(src="jquery-3.4.1.min.js")
	script(src="owlcarousel/owl.carousel.min.js")
	script(src="script.js")
