mixin header(link)
	header
		.main-header
			p
				a(href="index.html") Goa excursions
			p +91 74996 65426
			.img-container
				a(href="https://api.whatsapp.com/send?phone=+917499665426")
					img(src="img/social-whatsupp-color.png" alt="")
				a(href="tg://resolve?domain=astralpower")
					img(src="img/social-telegram-color.png" alt="")
				a(href="viber://chat?number=+917499665426")
					img(src="img/social-viber-color.png" alt="")
		.language-selector
			p Choose language:
			p.selected english
			p
				a(href=link) russian
