section.specials
	h1 ะะบัะธะธ:
	p ๐ฉ๐ง๐ง๐ฉ ะกะบะธะดะบะธ ะฟัะธ ะทะฐะบะฐะทะต ัะบัะบัััะธะธ ะฝะฐ ะณััะฟะฟั
	p ๐ผ ะะตัะธ ะดะพ 5 ะปะตั - ะฑะตัะฟะปะฐัะฝะพ (ะฑะตะท ัะธะดััะตะณะพ ะผะตััะฐ, ะฝะฐ ััะบะฐั ั ัะพะดะธัะตะปะตะน).
