include includes/headerrus

<!DOCTYPE html>
html(lang="en")
	include includes/headrus
	body
		.grid-container
			+header("ex01.html")
			main
				.ex-description
					.ex-description-top
						h1 ✈️🏰 ДЕЛИ, АГРА, ТАДЖ МАХАЛ (на самолете)
						.owl-carousel.owl-theme
							img(src="img/Ex1/1.jpg", alt="")
							img(src="img/Ex1/2.jpg", alt="")
							img(src="img/Ex1/3.jpg", alt="")
							img(src="img/Ex1/4.jpg", alt="")
							img(src="img/Ex1/5.jpg", alt="")
							img(src="img/Ex1/6.jpg", alt="")
							img(src="img/Ex1/7.jpg", alt="")
						p.
							💵 Стоимость экскурсии: 220$<br>
							💵 Предоплата 50%.
						p.
							📅 Проводится ежедневно, кроме пятницы. Бронируется за 2-4 дня до выезда.<br>
							🌝 два дня и одна ночь.<br>
							🇷🇺 Русскоязычный гид.
						p.
							ДЕНЬ ПЕРВЫЙ - АГРА:<br>
							✅ 03:00 прибытие в аэропорт в Дели, трансфер из аэропорта до Агры<br>
							✅ 6:30 заселение в отель в Агре;<br>
							✅ 12:30 Начало экскурсии:<br>
							- Тадж Махал;<br>
							- Агра форт;<br>
							- Шопинг;<br>
							- Музыкальное шоу;<br>
							- ночевка.
						p.
							📌 ДЕНЬ ВТОРОЙ - ДЕЛИ:<br>
							✅ 7:00 Завтрак, переезд в Дели;<br>
							✅ 10:30 прибытие в Дели и обзорная экскурсия по Дели:<br>
							- Ворота Индии;<br>
							- Президентская площадь;<br>
							- Храм Лотоса;<br>
							- Мечеть Дама Масджит;<br>
							- Радж Гхат;<br>
							- Храм Акшардхам;<br>
							- Сигхиский храм Бангла Сахеб.<br>
							✅ 20:00 прибытие в аэропорт в Дели.
						p.
							📌 В стоимость не включено:<br>
							✖ Трансфер до/от аэропорта в Гоа (примерно 40$ за машину);<br>
							✖ Авиа перелет Гоа-Дели-Гоа (примерно 120$);<br>
							✖ входные билеты (30$ на человека),<br>
							✖ обеды и ужины (примерно 35-40$ за 2 дня за человека),
						p.
							🎒 Что брать с собой: паспорт, удобную обувь и одежду, парео (прикрыть плечи и колени при посещении храмов, деньги на личные расходы).
				include includes/specialsRus
				include includes/priceRus
			include includes/footerrus
