include includes/headerrus

<!DOCTYPE html>
html(lang="ru")
	include includes/headrus
	body
		.grid-container
			+header("ex10.html")
			main
				.ex-description
					.ex-description-top
						h1 🗿🕉 СТАТУЯ ШИВЫ (МУРДЕШВАР),<br> ДЕРЕВНЯ ГОКАРНА, ПЛЯЖ ПАЛОЛЕМ.
						.owl-carousel.owl-theme
							img(src="img/Ex10/1.jpg", alt="")
							img(src="img/Ex10/2.jpg", alt="")
							img(src="img/Ex10/3.jpg", alt="")
							img(src="img/Ex10/4.jpg", alt="")
							img(src="img/Ex10/5.jpg", alt="")
							img(src="img/Ex10/6.jpg", alt="")
							img(src="img/Ex10/7.jpg", alt="")
							img(src="img/Ex10/8.jpg", alt="")
							img(src="img/Ex10/9.jpg", alt="")
							img(src="img/Ex10/10.jpg", alt="")
						p.
							💵 Стоимость экскурсии:<br>
							📍 С любого пляжа Гоа - 58$ с человека.<br>
							👼 Дети до 5 лет - бесплатно (без сидячего места, на руках у родителей).
						p.
							⏳ С 5:00 до 20:00. Время в пути - 5 часов с учётом остановки на завтрак.<br>
							🇷🇺 Русский гид.
						p.
							🕉 Чтобы увидеть настоящую Индию с ее особенно религиозным населением и традиционным жизненным укладом, стоит хотя бы на день покинуть Гоа и оказаться в соседнем штате Карнатака в городе Мурдешвар. Это живописное святое место, известно своим памятником – самой большой сидячей статуей бога Шивы. Высота статуи – 37,5 метров. Строительство статуи продолжалось 2 года и закончилось в 2002г.<br>
							♜ Кроме этого, к основным достопримечательностям относится храм Шивы и храмовая башня "Гопурам", высота которой 75 метров. Она считается самой высокой в мире.<br>
							Это место, как верят индусы, было освящено куском праналингама из Гокарны, брошенным демоном Раваной.<br>
							📣 Вы увидите самую высокую в мире сидячую статую бога Шивы, подниметесь на лифте на 20-ти этажный Гопурам. Также, посетите храм бога Шивы середины 16 века. Прогуляетесь по парку среди множества интереснейших религиозных сооружений.<br>
							🕎 Следующий пункт, который вы посетите: Гокарна – святая деревня, место паломничества индусов. В переводе с санскрита "Гокарна" означает «Коровье ухо». Согласно легенде, в этом месте Шива явился из уха Притхиви, принявшей образ коровы.<br>
							📢 Вы увидите храм Ганеши, храм Махабалешвар, храм богини Кали, священный водоем, торговую улицу.<br>
							🌴 Позже, вы окажетесь на красивейшем пляже Палолем, где можно искупаться, позагорать и пообедать.
						p.
							📌 В программе:<br>
							✅ Самая высокая в мире (37,5 м!) сидячая статуя бога Шивы.<br>
							✅ Посещение музея, рассказывающего историю Шива-лингама.<br>
							✅ Подъем на 20-ти этажную башню "Гопурам" (на лифте).<br>
							✅ Золотой храм бога Шивы.<br>
							✅ Пещера с легендами из эпоса Рамаяна.<br>
							✅ Индуистские храмы паломнической деревушки Гокарна.<br>
							✅ Храм Ганеши (бога мудрости).<br>
							✅ Водоем Котитиртх.<br>
							✅ Отдых и обед на живописном пляже.
						p.
							📌 В стоимость включено:<br>
							✅ Комфортабельный транспорт с кондиционером.<br>
							✅ Услуги русского гида.<br>
							✅ Завтраки.<br>
							✅ Все входные билеты в храмовые комплексы.<br>
							✅ Фото и видео-съемка.
						p.
							📌 В стоимость не включено:<br>
							✖ Обед на пляже Палолем.
						p.
							🎒 Что брать с собой: купальные принадлежности, полотенце, удобную обувь. Для посещения храмов Гокарны: для девушек платочки или парео, прикрыть плечи и колени.
				include includes/specialsRus
				include includes/priceRus
			include includes/footerrus
